html, body {
  background: rgb(235,235,255);
  background: linear-gradient(180deg, rgba(235,235,255,1) 0%, rgba(127,128,205,1) 100%);
  height: 100%;
  width: 100%;
  margin: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.navigation {
  width: 100%;
}

.site-title {
  display: inline-block;
  width: 10%;
}

.site-links {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.site-links a{
  display: inline-block;
  margin: 0px 16px;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(254, 254, 254, 0.5);
}